<div *ngIf="!sent; else alreadySent">
  <h1 style="font-family: BPG Nino Mtavruli; font-size: 29px">
    {{ "ბუღალტრული მომსახურების შეთავაზების მისაღებად შეავსეთ კითხვარი" | ml }}
  </h1>
  <card class="orgDetails" *ngFor="let q of list">
    <h1 *ngIf="q.title">{{ q.title }}</h1>
    <card-content class="orgDetails">
      <label for="package">{{ q.question }}
        <span class="requiredSymbol" *ngIf="q.required">*</span>
      </label>
      <input id="tin" [(ngModel)]="q.answer" class="antsStyle" type="text"
        *ngIf="q.answersList.length == 0; else drpdown" />
      <ng-template #drpdown>
        <select [(ngModel)]="q.answer" id="package" class="antsStyle">
          <option [value]="ansList.value" *ngFor="let ansList of q.answersList">
            {{ ansList.label }}
          </option>
        </select>
      </ng-template>
    </card-content>
  </card>
  <!-- <card class="orgDetails">
    <card-content class="orgDetails">
        <label for="package">არჩეული პაკეტი</label>
        <select [(ngModel)]="list[0].answer" id="package" class="antsStyle">
            <option value="სტარტაპერი">სტარტაპერი</option>
            <option value="მცირე ბიზნესი">მცირე ბიზნესი</option>
            <option value="ინდივიდუალური">ინდივიდუალური</option>
        </select>
    </card-content>
</card>
<card class="orgDetails">
    <card-content class="orgDetails">
        <label for="tin">კომპანიის საიდენტიფიკაციო კოდი:</label>
        <input id="tin" [(ngModel)]="org.tin" class="antsStyle" type="text" />
    </card-content>
</card>
<card class="orgDetails">
    <card-content class="orgDetails">
        <label for="workType">აირჩიე საქმიანობის სფერო:</label>
        <select [(ngModel)]="org.businessTypeID" id="workType" class="antsStyle">
            <option value="მომსახურება">მომსახურება</option>
            <option value="სარესტორნო ბიზნესი">სარესტორნო ბიზნესი</option>
            <option value="წარმოება და რეალიზაცია">წარმოება და რეალიზაცია</option>
            <option value="სასტუმრო">სასტუმრო</option>
            <option value="დისტრიბუცია">დისტრიბუცია</option>
            <option value="დეველოპერული">დეველოპერული</option>
            <option value="საცალო ვაჭრობა">საცალო ვაჭრობა</option>
            <option value="სხვა">სხვა</option>
        </select>
    </card-content>
</card>
<card class="orgDetails">
    <card-content class="orgDetails">
        <label for="workDescr">მოკლედ აღწერეთ თქვენი საქმიანობა:</label>
        <input id="workDescr" [(ngModel)]="org.businessDescription" class="antsStyle" type="text" />
    </card-content>
</card>
<card class="orgDetails">
    <card-content class="orgDetails">
        <label for="cashRegister">სალარო აპარატების რაოდენობა</label>
        <input id="cashRegister" [(ngModel)]="org.cashRegistersCount" class="antsStyle" type="text" />
    </card-content>
</card>
<card class="orgDetails">
    <card-content class="orgDetails">
        <label for="transactions">საბანკო ტრანზაქციების რაოდენობა თვეში ( საშუალო მაჩვენებელი)</label>
        <input id="transactions" [(ngModel)]="org.transactionsCount" class="antsStyle" type="text" />
    </card-content>
</card>
<card class="orgDetails">
    <card-content class="orgDetails">
        <label for="vatPayer">ხართ თუ არა დღგ-ს გადამხდელი?</label>
        <select id="vatPayer" [(ngModel)]="org.vatTypeID" class="antsStyle">
            <option value="კი">კი</option>
            <option value="არა">არა</option>
            <option value="ჯერ არა, მაგრამ მალე მომიწევს გადამხდელად რეგისტრაცია">ჯერ არა, მაგრამ მალე მომიწევს გადამხდელად რეგისტრაცია</option>
        </select>
    </card-content>
</card>
<card class="orgDetails">
    <card-content class="orgDetails">
        <label for="employees">თანამშრომლების რაოდენობა:</label>
        <input id="employees" [(ngModel)]="org.empCount" class="antsStyle" type="text" />
    </card-content>
</card>
<card class="orgDetails" *ngIf="!userLoggedIn">
    <card-content class="orgDetails">
        <label for="email">საკონტაქტო მეილი:</label>
        <input id="email" [(ngModel)]="org.email" class="antsStyle" type="text" />
        <br />
        <br />
        <label for="email">საკონტაქტო მობილურის ნომერი:</label>
        <input id="email" [(ngModel)]="org.phone" class="antsStyle" type="text" />
        <br />
        <br />
        <label for="email">სახელი გვარი:</label>
        <input id="email" [(ngModel)]="org.fullName" class="antsStyle" type="text" />

    </card-content>
</card> -->

  <button class="saveDetails" (click)="saveOrgDetails()">
    {{ "გაგზავნა" | ml }}
  </button>
</div>
<ng-template #alreadySent>
  <h1 class="successMessage">
    {{
    "კითხვარი წარმატებით გადაიგზავნა და შეთავაზებას გამოგიგზავნით უახლოეს მომავალში"
    | ml
    }}
  </h1>
</ng-template>