<header>
    <div class="currentPageTitle">{{getCurrentPageTitle()}}</div>
    <div *ngIf="sideBar" class="menuBtn noselect" [attr.expand]="expandMenu">
        <i class="material-icons" style="transform: scale(1.2);float: left;" (click)="expandMenu = !expandMenu">menu</i>
    </div>
    <div class="logo" [ngClass]="logoPosition" (click)="logoClick()"></div>
    <div class="userArea noselect" *ngIf="authUser.token" [attr.expand]="expandUserMenu" (click)="expandUserMenu = !expandUserMenu">
        <div class="userInitials">
        <span class="fullName textEllipsis">{{authUser.fullName}}</span>
        <i class="material-icons arrowDown">more_vert</i>
        </div>
    </div>
</header>

<aside *ngIf="sideBar" class="menu noselect" [ngClass]="authUser.workgroup.active == true ? 'workgroup' : ''" [attr.expand]="expandMenu">
    <nav *ngFor="let module of authUser.modules" (click)="navigate(module.url)" [attr.tabSelected]="tabSelected(module)">
        <i class="material-icons">{{module.iconName}}</i>
        <span class="moduleName capitalLetters">{{module.moduleName}}</span>
        <span class="counter" *ngIf="moduleHasNotifications(module) && getNotifications(module.ID) > 0">{{getNotifications(module.ID) > 9 ? '9+' : getNotifications(module.ID)}}</span>
    </nav>

</aside>
<aside class="menu userMenu noselect" [attr.expand]="expandUserMenu">
    <div class="userPanel">
        <nav (click)="navigate('Profile');">
            <i class="material-icons">account_box</i>
            <span class="title">პროფილი</span>
        </nav>
        <nav (click)="logout();">
            <i class="material-icons">power_settings_new</i>
            <span class="title">გამოსვლა</span>
        </nav>
    </div>
</aside>

<div class="activeWorkgroup" *ngIf="authUser.userLoggedIn()" (click)="workgroupCenterClick()">
    <span class="activeWgCenter">
        <span class="wgName" *ngIf="authUser.bxToken.length > 0;else addCompany">
            {{authUser.workgroup.name}}
        </span>
        <ng-template #addCompany>
            <span (click)="navigate('OrgDetails')">
                დაამატე კომპანია
            </span>
        </ng-template>
        <i class="material-icons listWorkgroup">{{authUser.bxToken.length > 0 ? 'keyboard_arrow_down' : 'add'}}</i>
        <div class="wgPanel" *ngIf="authUser.bxToken.length > 0">
            <app-workgroups></app-workgroups>
        </div>
    </span>
</div>
