<div>
    <button (click)="AntsToken()" style="background: blue; color: white;">Get My Tasks (BX)</button>
    <textarea></textarea>
</div>
<div>
    <button (click)="ClientToken()" style="background: gray; color:white">Get Bitrix Client AccessToken</button>
    <textarea></textarea>
</div>
<button style="color: white; background: gray;">Notify Ants from Client</button>
<button style="color: white; background-color: blue;">Notify Ants from Ants</button>
<button style="color: white; background-color: blue;">Notify Client from Ants</button>