<div style="padding:40px;" *ngIf="isAdmin;else notAdmin">
    <div class="container" *ngIf="tab==1">
    <p class="backBtn" (click)="tab = 2"><span class="material-icons">arrow_back_ios</span>უკან დაბრუნება</p>
        <input type="text" class="antsStyle" [(ngModel)]="newBxUser.antsEmail"
            placeholder="მომხმარებლის(Ants) მეილი" /><br />
        <input type="text" class="antsStyle" [(ngModel)]="newBxUser.email" disabled
            placeholder="ახალი მომხმარებლის(Bitrix) მეილი" /><span>დაელოდეთ, ეს ველი ავტომატურად უნდა შეივსოს <span
                style="color: #48a6c3">შიფრის</span> ველის შევსების შემდეგ</span><br />
        <input type="password" class="antsStyle" [(ngModel)]="newBxUser.password" autocomplete="new-password"
            placeholder="ახალი მომხმარებლის(Bitrix) პაროლი" /> <br />
        <button (click)="saveNewBxUser()">შენახვა</button>
        <!-- <button (click)="deleteNewBxUser()" style="margin-left:10px;background-color: red;">წაშლა</button> -->

        <div style="border: 1px solid var(--main-blue-color); width: 320px; padding: 10px; margin-top: 20px;">
            <p style="width: 300px;color: var(--main-blue-color);">გაიარე ავტორიზაცია ბიტრიქსის ახალი იუზერით შენ
                ბრაუზერში, შემდეგ დაარეფრეშე ეს გვერდი</p>
            <p style="width: 300px;color: var(--main-red-color);">ქვედა (<span style="color: #48a6c3;">შიფრის
                    ველი</span>) აუცილებელია და უნდა შეივსოს ავტომატურად.</p>
            <input type="text" class="antsStyle" [(ngModel)]="newBxUser.refreshToken"
                placeholder="ახალი მომხმარებლის(Bitrix) refresh_token" disabled /><br />
        </div>
        <!-- <a href="https://accountants.bitrix24.com/oauth/authorize/?response_type=code&client_id=local.5eec97f99a5dd3.72311743&redirect_uri=app_URL">
ბიტრიქსის ავტორიზაცია
</a> -->
        <iframe id="ifr" style="width:0;height: 0;border:0;"
            src="https://accountants.bitrix24.com/oauth/authorize/?response_type=code&client_id=local.5eec97f99a5dd3.72311743&redirect_uri=app_URL">
        </iframe>
    </div>
    <div class="container" *ngIf="tab==2">
        <app-grd-users (onRowClick)="onRowClick($event)"></app-grd-users>
    </div>
</div>
<ng-template #notAdmin>
    <h1>თქვენ არ გაქვთ ადმინის უფლებები.</h1>
</ng-template>