input {
    margin-bottom: 10px;
    height: 40px;
    width: 300px;
    color: var(--input-txt-color);
}
button {
    background-color: var(--main-blue-color);
    color: #fff;
}
.backBtn {
    font-size: 18px;
    font-family: BPG Nino Mtavruli;
    cursor: pointer;
}
.backBtn > span.material-icons {
    font-size: 16px;
}
.authBx {
    border: 1px solid;
    padding: 10px;
    float: left;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    background: var(--main-blue-color);
    text-decoration: none;
    font-family: BPG Nino Mtavruli;
    font-size: 14px;
}