<div class="container">
  <div class="filters">
    <app-filter label="კატეგორია" type="dropdown" fieldName="taskCategoryId" [disabled]="activeFilter == 2"
      (onChange)="applyFilters($event); $event.FilterValue == '' ? activeFilter = 0 : activeFilter = 1" filterType="0">
      <option value="">ყველა</option>
      <option *ngFor="let category of categories$ | async" [value]="category?.taskCategoryId">
        {{ category?.name }}
      </option>
    </app-filter>
    <!-- <app-filter label="როლი" type="dropdown" fieldName="taskCategoryId" [disabled]="activeFilter == 1"
      (onChange)="applyFilters($event); $event.FilterValue == '' ? activeFilter = 0 : activeFilter = 2" filterType="1">
      <option value="">ყველა</option>
      <option *ngFor="let role of userRoles$ | async" [value]="role?.taskCategoryIds">
        {{ role?.roleName }}
      </option>
    </app-filter> -->
    <app-filter label="მენეჯერები" *ngIf="isAdmin" type="dropdown" fieldName="ManagerUserId"
      [disabled]="activeFilter == 1" (onChange)="managerFilter($event);" filterType="1">
      <option value="0">ჩემი თასქები</option>
      <option *ngFor="let man of managers$ | async" [value]="man?.userId">
        {{ man?.fullname }}
      </option>
    </app-filter>
    <app-filter label="თვე" type="dropdown" [selected]="currentMonth - 1" fieldName="ActiveMonth"
      (onChange)="applyFilters($event)" filterType="0">
      <!-- <option [value]="currentMonth - 1" selected>მიმდინარე (წინა თვე</option> -->
      <option value="1">იანვარი</option>
      <option value="2">თებერვალი</option>
      <option value="3">მარტი</option>
      <option value="4">აპრილი</option>
      <option value="5">მაისი</option>
      <option value="6">ივნისი</option>
      <option value="7">ივლისი</option>
      <option value="8">აგვისტო</option>
      <option value="9">სექტემბერი</option>
      <option value="10">ოქტომბერი</option>
      <option value="11">ნოემბერი</option>
      <option value="12">დეკემბერი</option>
    </app-filter>
    <!-- <app-filter label="თვე - მდე" type="dropdown" fieldName="ActiveEndMonth" (onChange)="applyFilters($event)"
      filterType="5">
      <option value="">ყველა</option>
      <option value="1">იანვარი</option>
      <option value="2">თებერვალი</option>
      <option value="3">მარტი</option>
      <option value="4">აპრილი</option>
      <option value="5">მაისი</option>
      <option value="6">ივნისი</option>
      <option value="7">ივლისი</option>
      <option value="8">აგვისტო</option>
      <option value="9">სექტემბერი</option>
      <option value="10">ოქტომბერი</option>
      <option value="11">ნოემბერი</option>
      <option value="12">დეკემბერი</option>
    </app-filter> -->
    <app-filter label="წელი" type="dropdown" [selected]="currentYear" fieldName="ActiveYear"
      (onChange)="applyFilters($event)" filterType="0">
      <!-- <option [value]="currentYear" selected>მიმდინარე</option> -->
      <option *ngFor="let year of YearRange" [value]="year.value">
        {{ year.value }}
      </option>
    </app-filter>
    <!-- <app-filter label="წელი - მდე" type="dropdown" fieldName="ActiveEndYear" (onChange)="applyFilters($event)"
      filterType="5">
      <option *ngFor="let year of YearRange" [value]="year.value">
        {{ year.value }}
      </option>
    </app-filter> -->
  </div>
  <div class="tasksContainerAll" *ngIf="(clientCompanies$ | async) as clientCompanies;">
    <div class="companyHeadersContainer" #companyHeadersScroll *ngIf="showFixedHeaders">
      <div class="companyHeaders">
        <!-- <p>&nbsp;</p> -->
        <div class="companyName" *ngFor="let company of clientCompanies" [title]="company?.name"
          (click)="GetCompanyDetails(company?.id)">
          <p>
            <span>
              {{company?.name}}
            </span>
          </p>
        </div>
      </div>
    </div>
    <div class="taskContainer headers i0">
      <div class="companyName">{{noDataFound ? 'არ მოიძებნა' : ''}}</div>
      <div class="flex flex-direction-col flex-direction-col">
        <div *ngFor="let commonTask of commonTasks" [title]="commonTask.name">
          <span class="taskHeader"> {{ commonTask.name }} </span>
          <span class="taskDeadlineDay" *ngIf="commonTask.deadlineDay > 0" title="დედლაინი(რიცხვი)"> {{
            commonTask.deadlineDay }} </span>
        </div>
        <!-- <p>{{task.name + ":" + task.status}}</p> -->
      </div>
    </div>
    <div class="tasksScrollView" #tasksScrollView>
      <ng-container *ngFor="let company of clientCompanies; let i = index">
        <div class="taskContainer" *ngIf="FilterTasksByCompany(company?.id).length > 0">
          <div class="companyName" (click)="GetCompanyDetails(company?.id)">
            <p [title]="company?.name">
              <span>{{ company?.name }}
                <span class="questionMark">?</span>
              </span>
            </p>
          </div>
          <div class="flex flex-direction-col flex-direction-col">
            <div *ngFor="let Task of FilterTasksByCompany(company?.id)" [title]="company?.name">
              <!-- {{ Task?.name }} -->
              <div class="statusContainer">
                <div class="status" [ngClass]="setStatusClass(Task)">
                  <select class="statusDropdown" [(ngModel)]="Task.status" (ngModelChange)="changeStatus($event, Task)">
                    <option *ngFor="let status of statuses" [value]="status?.id | number">
                      {{ status?.name }}
                    </option>
                  </select>
                  <!-- {{Task.statusName}} -->
                </div>
              </div>
            </div>
            <!-- <p>{{task.name + ":" + task.status}}</p> -->
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <!-- <ng-template #showLoader> -->

  <!-- </ng-template> -->
</div>
<popup [(visible)]="showCompanyDetails" class="companyDetailsPopup" [setStyle]="{height:'auto'}">
  <p-header>კომპანიის შესახებ</p-header>
  <p-content>
    <div *ngFor="let cd of companyDetails">
      <p>კომპანიის დასახელება: <b>{{cd.companyName}}</b></p>
      <p>კომპანიის საიდენტიფიკაციო: <b>{{cd.companyTin}}</b></p>
      <p>მენეჯერი: <b>{{cd.fullName}}</b></p>
    </div>
  </p-content>
</popup>
<div *ngIf="loading" class="loadingContainer">
  <app-loader class="empTasksLoader"></app-loader>
</div>