@media only screen and (max-width: 460px) {
  ::ng-deep app-org-details-tax {
    width: 100% !important;
  }
  ::ng-deep card.orgDetails .card {
    width: auto !important;
  }
}
::ng-deep app-org-details-tax {
  float: left;
  padding: 40px 30px;
  width: 500px;
  box-sizing: border-box;
  margin-top: 40px;
}

::ng-deep card.orgDetails {
  float: left;
  clear: both;
  margin-top: 20px;
}

::ng-deep card.orgDetails .card {
  grid-template-rows: minmax(100px, auto) !important;
  height: auto;
  /* border-radius: 10px; */
  border-bottom: 1px solid #b1b1b1;
  background: transparent !important;
  /* border-left: 1px solid var(--main-green-color); */
  /* border-right: 1px solid var(--main-green-color); */
  box-shadow: none !important;
}

.orgDetails input,
.orgDetails select {
  width: 100%;
  box-sizing: border-box;
  margin-left: 0px;
  height: 30px;
  margin-top: 15px;
}

card-content.orgDetails {
  padding: 15px;
}

::ng-deep card.orgDetails:first-child {
  margin-top: 0px !important;
}

.saveDetails {
  width: 150px;
  background-color: var(--main-lightgreen-color);
  color: white;
  margin-top: 20px;
}
.successMessage {
    color: var(--main-lightgreen-color);
    font-size: 20px;
}
.requiredSymbol {
  color: red;
}