<div class="container">
    <img src="../../../assets/imgs/pricing1.svg" />
    <h1>საბაზისო</h1>
    <h2>თვეში 100₾ - დან</h2>
    <button (click)="navigate('OrgDetails')">დაწყება</button>
</div>
<div class="container">
    <img src="../../../assets/imgs/pricing2.svg" />
    <h1>საშუალო</h1>
    <h2>თვეში 200₾ - დან</h2>
    <button (click)="navigate('OrgDetails')">დაწყება</button>
</div>
<div class="container">
    <img src="../../../assets/imgs/pricing3.svg" />
    <h1>პრემიუმი</h1>
    <h2>თვეში 500₾ - დან</h2>
    <button (click)="navigate('OrgDetails')">დაწყება</button>
</div>